[Desktop Entry]
Version=1.0
Name=Discord
Exec=/home/username/discord.sh
Icon=/home/username/Pictures/discord_icon.png
Terminal=false
Type=Application
Categories=Utility;
